Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: system

check-docstring-first:
  name: check docstring is first
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: system

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: system

debug-statements:
  name: debug statements (python)
  description: checks for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system

trailing-whitespace:
  name: trim trailing whitespace
  description: trims trailing whitespace.
  entry: trailing-whitespace-fixer
  language: system

forbidden-files-copier-rej:
  name: find copier rejection files
  language: fail
  entry: 'Found copier update rejection file(s): review and remove them'

forbidden-files-git-orig:
  name: find git merge backup files
  language: fail
  entry: 'Found git merge backup file(s): review and remove them'

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell
  args:
  - -L astroid,fof

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8
  args:
  - --max-line-length=88
  - --ignore=E203,W503,F811,I002

next step
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

last step
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

cleanup gitignore
  .gitignore
Due: end-of-file-fixer, trailing-whitespace, codespell

minor change
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

fix readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

fix definitions version
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

make icon consistent
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

fix naming
  tests/engine/test_perturb.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix naming
  tests/engine/test_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix eccodes version
  requirements/environment.yml
  requirements/requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

inlcude sample path
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

use eccodes=2.35.0
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix python version
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

might not be needed
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Added missing double quotes for aarch64 comparison
  setup_miniconda.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

fix python version and environment
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .gitignore
  README.md
  engine/cdo_table.py
  engine/init.py
  engine/performance_check.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/select_members.py
  engine/stats.py
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
  tests/helpers.py
  util/model_output_parser.py
  visualize/performance_meta_data.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

pin python version even more
  requirements/environment.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

improve readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

fix typo
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Pin python version and environment (#50)
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .gitignore
  README.md
  engine/cdo_table.py
  engine/init.py
  engine/performance_check.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/select_members.py
  engine/stats.py
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
  tests/helpers.py
  util/model_output_parser.py
  visualize/performance_meta_data.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

revert hotfix
  .pre-commit-config.yaml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Added aarch64 architecture for miniconda (#49)
  setup_miniconda.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

update README.md
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

refactor
  engine/cdo_table.py
  tests/util/test_model_output_parser.py
  util/model_output_parser.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

use closets possiblle eccodes to 2.25.0
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

refactor
  engine/cdo_table.py
  engine/performance.py
  util/dataframe_ops.py
  util/file_system.py
  util/model_output_parser.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

not so nice workaround
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

workaround
  tests/util/test_dataframe_ops.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

pin hashes
  requirements/environment.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

update env
  requirements/environment.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

rename var
  tests/engine/test_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix name
  tests/engine/test_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm mamba option
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

update requirements
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

add performance stats
  engine/performance_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

first draft
  engine/performance_stats.py
  probtest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

minor cleanup
  engine/performance_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$
