Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: system

check-docstring-first:
  name: check docstring is first
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: system

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: system

debug-statements:
  name: debug statements (python)
  description: checks for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system

trailing-whitespace:
  name: trim trailing whitespace
  description: trims trailing whitespace.
  entry: trailing-whitespace-fixer
  language: system

forbidden-files-copier-rej:
  name: find copier rejection files
  language: fail
  entry: 'Found copier update rejection file(s): review and remove them'

forbidden-files-git-orig:
  name: find git merge backup files
  language: fail
  entry: 'Found git merge backup file(s): review and remove them'

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell
  args:
  - -L astroid,fof

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8
  args:
  - --max-line-length=88
  - --ignore=E203,W503,F811,I002

applied changes for reading grib files
  setup_env.sh
  util/model_output_parser.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Formatting
  requirements/dev-requirements.yml
  setup_env.sh
  util/model_output_parser.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

dummy change
  util/model_output_parser.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

revert dummy change
  util/model_output_parser.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update miniconda
  setup_miniconda.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

move to Balfrin
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

fix ws
  setup_miniconda.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

cleanup requirements
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

rm requirements
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace, codespell

rm dev requirements
  requirements/dev-environment.yml
  requirements/dev-requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix style
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

cleanup
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

cleanup names
  .github/workflows/pre-commit.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

cleanup pre-commit
  .github/workflows/pre-commit.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

add python
  requirements/requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

cleaning
  requirements/requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

cleanup enviornment
  requirements/environment.yml
  requirements/requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

activate pylint
  .pre-commit-config.yaml
  engine/cdo_table.py
  engine/init.py
  engine/performance.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/select_members.py
  engine/stats.py
  engine/tolerance.py
  probtest.py
  tests/conftest.py
  tests/engine/test_perturb.py
  tests/engine/test_select_members.py
  tests/engine/test_stats.py
  tests/helpers.py
  util/click_util.py
  util/dataframe_ops.py
  util/file_system.py
  util/icon/extract_timings.py
  util/log_handler.py
  util/model_output_parser.py
  util/netcdf_io.py
  util/tree.py
  util/xarray_ops.py
  visualize/check_plot.py
  visualize/performance_meta_data.py
  visualize/performance_plot.py
  wrapper/icon_config_flag_extractor.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

more pylint
  .pre-commit-config.yaml
  engine/cdo_table.py
  engine/performance.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/select_members.py
  tests/cli/test_performance_cli.py
  tests/engine/test_check.py
  tests/engine/test_perturb.py
  tests/engine/test_stats.py
  tests/util/icon/test_timing_tree.py
  util/click_util.py
  util/dataframe_ops.py
  util/tree.py
  visualize/cdo_table_reader.py
  visualize/check_plot.py
  visualize/performance_meta_data.py
  visualize/performance_plot.py
  wrapper/icon_config_flag_extractor.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm additional warning
  .pre-commit-config.yaml
  tests/engine/test_perturb.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

include more pylint
  .pre-commit-config.yaml
  engine/cdo_table.py
  engine/check.py
  engine/performance_check.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/select_members.py
  engine/stats.py
  engine/tolerance.py
  tests/engine/test_stats.py
  tests/util/icon/test_timing_tree.py
  util/click_util.py
  util/dataframe_ops.py
  util/tree.py
  util/xarray_ops.py
  visualize/check_plot.py
  visualize/performance_meta_data.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

check more warnings
  .pre-commit-config.yaml
  engine/cdo_table.py
  engine/perturb.py
  engine/select_members.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix another warning
  .pre-commit-config.yaml
  engine/select_members.py
  tests/conftest.py
  util/utils.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

another warning rm
  .pre-commit-config.yaml
  tests/engine/test_check.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add class doc strings
  .pre-commit-config.yaml
  tests/engine/test_check.py
  tests/engine/test_perturb.py
  tests/engine/test_run_ensemble.py
  tests/engine/test_stats.py
  tests/util/icon/test_timing_tree.py
  util/click_util.py
  util/tree.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix names
  .pre-commit-config.yaml
  engine/performance.py
  engine/stats.py
  tests/cli/test_perturb_cli.py
  tests/cli/test_stats_cli.py
  tests/conftest.py
  tests/engine/test_run_ensemble.py
  tests/engine/test_stats.py
  tests/util/icon/test_timing_tree.py
  util/constants.py
  util/icon/extract_timings.py
  util/tree.py
  util/utils.py
  visualize/performance_meta_data.py
  visualize/performance_plot.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

adapt get_ds()
  util/model_output_parser.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

make absolute path
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

change to warning
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add test
  .pre-commit-config.yaml
  tests/util/icon/test_timing_tree.py
  util/tree.py
  visualize/performance_meta_data.py
  visualize/performance_plot.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm more dublicate
  tests/util/test_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm more
  engine/perturb.py
  engine/run_ensemble.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup code
  tests/util/test_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

refactor more
  util/dataframe_ops.py
  visualize/check_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

change to error
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add doc string
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add test
  tests/util/test_dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup
  tests/util/test_dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$
