Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: system

check-docstring-first:
  name: check docstring is first
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: system

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: system

debug-statements:
  name: debug statements (python)
  description: checks for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system

trailing-whitespace:
  name: trim trailing whitespace
  description: trims trailing whitespace.
  entry: trailing-whitespace-fixer
  language: system

forbidden-files-copier-rej:
  name: find copier rejection files
  language: fail
  entry: 'Found copier update rejection file(s): review and remove them'

forbidden-files-git-orig:
  name: find git merge backup files
  language: fail
  entry: 'Found git merge backup file(s): review and remove them'

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell
  args:
  - -L astroid,fof

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8
  args:
  - --max-line-length=88
  - --ignore=E203,W503,F811,I002

black formatting
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add check if variables in reference and test file intersect
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update lhn_12 to lhn_12_emvorado
  .env
  README.md
  jenkins/scripts/step_execute_unittest_mch.sh
  scripts/collect_icon_testdata.sh
  scripts/generate_icon_testdata.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

change exp since references must run on daint
  .env
  README.md
  jenkins/scripts/step_execute_unittest_mch.sh
  scripts/collect_icon_testdata.sh
  scripts/generate_icon_testdata.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

forgot one
  .env
Due: end-of-file-fixer, trailing-whitespace, codespell

update collect_icon_testdata
  scripts/collect_icon_testdata.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

update probtest_ref_data hash
  .env
Due: end-of-file-fixer, trailing-whitespace, codespell

update test_reference
  test_reference
Due: end-of-file-fixer, trailing-whitespace, codespell

update test meta data
  tests/data/add_meta.json
  tests/data/reference_meta.json
Due: none

update whole timing reference
  tests/data/add_0_data.json
  tests/data/add_1_data.json
  tests/data/add_1_tree.json
  tests/data/add_2_data.json
  tests/data/add_2_tree.json
  tests/data/add_meta.json
  tests/data/reference_0_data.json
  tests/data/reference_1_data.json
  tests/data/reference_1_tree.json
  tests/data/reference_2_data.json
  tests/data/reference_2_tree.json
  tests/data/reference_meta.json
Due: none

fix add reference
  tests/data/add_0_data.json
  tests/data/add_1_data.json
  tests/data/add_1_tree.json
  tests/data/add_meta.json
Due: none

update readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

formatting
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

update regex (#11)
  .env
  README.md
  jenkins/scripts/step_execute_unittest_mch.sh
  scripts/collect_icon_testdata.sh
  scripts/generate_icon_testdata.sh
  test_reference
  tests/data/add_0_data.json
  tests/data/add_1_data.json
  tests/data/add_1_tree.json
  tests/data/add_2_data.json
  tests/data/add_2_tree.json
  tests/data/add_meta.json
  tests/data/reference_0_data.json
  tests/data/reference_1_data.json
  tests/data/reference_1_tree.json
  tests/data/reference_2_data.json
  tests/data/reference_2_tree.json
  tests/data/reference_meta.json
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

revert regex so single work proc logs can be read again
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

formatting
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

revert regex so single work proc logs can be read again (#13)
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Plot largest error relative to tolerance instead of largest difference
  visualize/check_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Remove uninitialized fields from plot
  visualize/check_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Output job name only after it has been formatted with new member id
  engine/run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Handle the case of reference values close to 0 better
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Test the return code of the model runs
  engine/run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Output job name only after it has been formatted with new member id (#14)
  engine/run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

make code more explicit.
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update the tests to cover the new edge cases.
  tests/engine/test_check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Test also negative numbers and fix style
  tests/engine/test_check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Return Exception instead of sys.exit if a job fails
  engine/run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Test job execution of run_ensemble
  tests/engine/test_run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

remove unnecessary imports
  tests/engine/test_run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

updated tolerance data for new rel-diff formula
  test_reference
Due: end-of-file-fixer, trailing-whitespace, codespell

shorten long line
  tests/engine/test_check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Improve logging and cheking with run-ensemble
  engine/run_ensemble.py
  tests/engine/test_run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Make computation of relative difference symmetrical
  test_reference
  tests/engine/test_check.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add ensemble member 10 to be in sync with pp.generate_tolerance
  engine/init.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Allow differences in the sets of variable names
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add option to select number of ensemble members from command line
  README.md
  engine/cdo_table.py
  engine/init.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/stats.py
  engine/tolerance.py
  scripts/collect_icon_testdata.sh
  scripts/generate_icon_testdata.sh
  templates/ICON.jinja
  templates/testdata.jinja
  util/click_util.py
  wrapper/generate_icon_reference_amip.sh
  wrapper/generate_icon_reference_lam.sh
  wrapper/generate_icon_reference_lam_nest.sh
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Small improvements for last commit
  README.md
  wrapper/generate_icon_reference_lam_nest.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

Instead of double_1, double_2 etc. use EXP_NAME_1, EXP_NAME_2 for creating seeds
  engine/cdo_table.py
  engine/init.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/stats.py
  engine/tolerance.py
  templates/ICON.jinja
  templates/testdata.jinja
  util/click_util.py
  wrapper/generate_icon_reference_lam_nest.sh
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add spec
  templates/ICON.jinja
Due: end-of-file-fixer, trailing-whitespace, codespell

rm ws
  templates/ICON.jinja
Due: end-of-file-fixer, trailing-whitespace, codespell

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$
