Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: system

check-docstring-first:
  name: check docstring is first
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: system

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: system

debug-statements:
  name: debug statements (python)
  description: checks for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system

trailing-whitespace:
  name: trim trailing whitespace
  description: trims trailing whitespace.
  entry: trailing-whitespace-fixer
  language: system

forbidden-files-copier-rej:
  name: find copier rejection files
  language: fail
  entry: 'Found copier update rejection file(s): review and remove them'

forbidden-files-git-orig:
  name: find git merge backup files
  language: fail
  entry: 'Found git merge backup file(s): review and remove them'

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell
  args:
  - -L astroid,fof

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8
  args:
  - --max-line-length=88
  - --ignore=E203,W503,F811,I002

add test for performance cli
  tests/cli/test_performance_cli.py
  tests/data/ref_0_data.json
  tests/data/ref_0_tree.json
  tests/data/ref_1_data.json
  tests/data/ref_1_tree.json
  tests/data/ref_meta.json
  tests/helpers/fixtures.py
  tests/helpers/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

no data tests leftover
  jenkins/mergerequest
  tests/cli/test_performance_cli.py
  tests/e2e/__init__.py
  tests/e2e/test_pandas_e2e.py
  tests/e2e/test_tree_e2e.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

small cleanup
  tests/helpers/fixtures.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rename wrong_ensemble to too_small_ensemble
  tests/cli/test_cdo_table_cli.py
  tests/cli/test_performance_cli.py
  tests/cli/test_stats_cli.py
  tests/data/ref_cdo_table.csv
  tests/helpers/fixtures.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

doc-string
  tests/helpers/fixtures.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add fixture to store ref-data
  tests/cli/test_cdo_table_cli.py
  tests/cli/test_performance_cli.py
  tests/cli/test_stats_cli.py
  tests/cli/test_tolerance_cli.py
  tests/helpers/fixtures.py
  tests/helpers/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add global fixture for new ref-data
  tests/cli/test_cdo_table_cli.py
  tests/cli/test_performance_cli.py
  tests/cli/test_stats_cli.py
  tests/cli/test_tolerance_cli.py
  tests/conftest.py
  tests/helpers/fixtures.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Implement member selection (#26)
  .env
  AUTHORS.md
  README.md
  engine/check.py
  engine/select_members.py
  engine/tolerance.py
  jenkins/mergerequest
  jenkins/scripts/step_execute_unittest_amip.sh
  probtest.py
  scripts/collect_icon_testdata.sh
  scripts/generate_icon_testdata.sh
  templates/ICON.jinja
  templates/testdata.jinja
  test_reference
  tests/engine/test_check.py
  tests/engine/test_select_members.py
  util/click_util.py
  util/dataframe_ops.py
  wrapper/generate_icon_reference_amip.sh
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

remove leftovers from ICON-data tests
  .env
  .gitignore
  jenkins/scripts/step_execute_unittest_amip.sh
  jenkins/scripts/step_execute_unittest_mch.sh
  jenkins/scripts/step_generate_testdata.sh
  test_reference
Due: end-of-file-fixer, trailing-whitespace, codespell

update tolerance ref
  tests/data/ref_tolerance.csv
Due: none

update docs
  .gitignore
  .vscode/launch.json
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

cleanup
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

merge fixtures.py and conftest.py
  tests/cli/test_cdo_table_cli.py
  tests/cli/test_performance_cli.py
  tests/cli/test_perturb_cli.py
  tests/cli/test_stats_cli.py
  tests/cli/test_tolerance_cli.py
  tests/conftest.py
  tests/helpers/fixtures.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

move helpers to parent folder
  tests/cli/test_cdo_table_cli.py
  tests/cli/test_performance_cli.py
  tests/cli/test_perturb_cli.py
  tests/cli/test_stats_cli.py
  tests/cli/test_tolerance_cli.py
  tests/conftest.py
  tests/helpers.py
  tests/helpers/__init__.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

convert select_member to pytest
  tests/engine/test_select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

final cleanup
  .gitignore
  tests/conftest.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

nicer fix
  engine/cdo_table.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

added grib_parser
  requirements/dev-environment.yml
  requirements/dev-requirements.yml
  requirements/environment.yml
  requirements/requirements.yml
  templates/ICON.jinja
  util/model_output_parser.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

eccodes_definition in setup_env
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

add action for pytest
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

increase python version
  .github/workflows/pre-commit.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

set timezone to Zurich
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

add coverage test
  .coveragerc
  .github/workflows/pytest.yml
  requirements/requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

write coverage report to terminal
  .coveragerc
  .github/workflows/pytest.yml
  .gitignore
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

do not upload coverage test
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

cleanup
  .github/workflows/pre-commit.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

remove Jenkins
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

reuse more infrastructure
  tests/cli/test_tolerance_cli.py
  tests/engine/test_select_members.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

more cleanup
  tests/engine/test_select_members.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

move fixture
  tests/conftest.py
  tests/engine/test_select_members.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

use tmp-stage when possible
  tests/conftest.py
  tests/engine/test_select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

docstring
  tests/conftest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Revert "remove Jenkins"
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

add visualize to coverage
  .coveragerc
Due: end-of-file-fixer, trailing-whitespace, codespell

[CI] add github action for pytest (#34)
  .coveragerc
  .github/workflows/pytest.yml
  .gitignore
  requirements/requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Update tests/helpers.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

review suggestions
  tests/conftest.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

[CI] Reuse fixture infrastructure for select-member tests (#35)
  tests/cli/test_tolerance_cli.py
  tests/conftest.py
  tests/engine/test_select_members.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$
