Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$

Switch back to 32bit unsigned integers for seeds
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

ensure 32bit
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

robust regex final version
  engine/performance.py
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update dependencies
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

solve pylint
  util/click_util.py
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

correct poetry
  poetry.lock
Due: end-of-file-fixer, trailing-whitespace, codespell

solve pylint
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

remove prints
  engine/performance.py
  tests/util/icon/test_timing_tree.py
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

clean extract_timings.py
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

solve_pylint
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

pylint
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update references
  tests/data/cdo_table.csv
  tests/data/stats_dp_1.csv
  tests/data/stats_dp_10.csv
  tests/data/stats_dp_2.csv
  tests/data/stats_dp_3.csv
  tests/data/stats_dp_4.csv
  tests/data/stats_dp_6.csv
  tests/data/stats_dp_8.csv
  tests/data/stats_dp_9.csv
  tests/data/stats_ref.csv
  tests/data/tolerance.csv
  tests/util/test_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

change test to cover more date formats
  tests/data/timing_example_3.txt
Due: none

Make seeds really 32bit (#96)
  README.md
  tests/data/cdo_table.csv
  tests/data/stats_dp_1.csv
  tests/data/stats_dp_10.csv
  tests/data/stats_dp_2.csv
  tests/data/stats_dp_3.csv
  tests/data/stats_dp_4.csv
  tests/data/stats_dp_6.csv
  tests/data/stats_dp_8.csv
  tests/data/stats_dp_9.csv
  tests/data/stats_ref.csv
  tests/data/tolerance.csv
  tests/util/test_utils.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

include suggestions
  pyproject.toml
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, check-toml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update lock
  poetry.lock
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update requirements
  poetry.lock
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace, codespell

improve --help
  probtest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

first part of suggestions
  engine/fof_compare.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

integration all suggestions
  engine/fof_compare.py
  tests/util/test_fof_utils.py
  util/dataframe_ops.py
  util/fof_utils.py
  util/log_handler.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update engine/fof_compare.py
  engine/fof_compare.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add rules and temp directory
  engine/fof_compare.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Improve the help functionalty of probtest (#97)
  probtest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add test for fof-compare
  tests/engine/test_fof_compare.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleaning test
  tests/engine/test_fof_compare.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

make fof_type mandatory and add help for file path 1 and 2
  engine/fof_compare.py
  tests/engine/test_fof_compare.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

clean
  engine/fof_compare.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

clean commented lines
  tests/util/test_fof_utils.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Adapt probtest workflow to LETKF outputs (#83)
  engine/fof_compare.py
  tests/engine/test_fof_compare.py
  tests/util/test_dataframe_ops.py
  tests/util/test_fof_utils.py
  util/dataframe_ops.py
  util/fof_utils.py
  util/log_handler.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Prepare release vv3.3
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

Prepare release v3.3
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

correct typo
  tests/util/test_fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Prepare release v3.3 (#100)
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  tests/util/test_fof_utils.py
Due: check-ast, check-docstring-first, check-toml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

merging main
  README.md
  engine/fof_compare.py
  engine/performance_check.py
  poetry.lock
  probtest.py
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
  tests/cli/__init__.py
  tests/cli/test_cdo_table_cli.py
  tests/cli/test_performance_cli.py
  tests/cli/test_perturb_cli.py
  tests/cli/test_stats_cli.py
  tests/cli/test_tolerance_cli.py
  tests/cli/test_tolerance_cli_split.py
  tests/conftest.py
  tests/data/cdo_table.csv
  tests/data/stats_dp_1.csv
  tests/data/stats_dp_10.csv
  tests/data/stats_dp_2.csv
  tests/data/stats_dp_3.csv
  tests/data/stats_dp_4.csv
  tests/data/stats_dp_6.csv
  tests/data/stats_dp_8.csv
  tests/data/stats_dp_9.csv
  tests/data/stats_ref.csv
  tests/data/tolerance.csv
  tests/engine/test_check.py
  tests/util/icon/test_timing_tree.py
  tests/util/test_dataframe_ops.py
  tests/util/test_fof_utils.py
  tests/util/test_utils.py
  util/dataframe_ops.py
  util/fof_utils.py
  util/log_handler.py
  util/model_output_parser.py
  util/tree.py
  util/utils.py
  visualize/check_plot.py
Due: check-ast, check-docstring-first, check-toml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

mergin main part2
  tests/engine/test_cdo_table_cli.py
  tests/engine/test_fof_compare.py
  tests/engine/test_performance_check.py
  tests/engine/test_performance_cli.py
  tests/engine/test_perturb_cli.py
  tests/engine/test_stats_cli.py
  tests/engine/test_tolerance_cli.py
  tests/engine/test_tolerance_cli_split.py
  tests/util/test_model_output_parser.py
  tests/visualize/test_check_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update util/fof_utils.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update tests/util/test_fof_utils.py
  tests/util/test_fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

review
  tests/util/test_fof_utils.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

allow compute division
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8
