Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$

remove rules
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

remove consistency check
  tests/util/test_dataframe_ops.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

delete engine
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

correct check_multiple_solutions
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

suggestions integrated
  engine/fof_compare.py
  tests/util/test_fof_utils.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleaning test_dataframe-ops.py
  tests/util/test_dataframe_ops.py
  tests/util/test_fof_utils.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add fof-compare to README
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

first part of suggestion integrated - still need to finish the README file
  AUTHORS.md
  README.md
  engine/tolerance.py
  tests/util/test_utils.py
  util/dataframe_ops.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

final README version
  README.md
  engine/tolerance.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update README.md
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Add support for FOF files (#74)
  AUTHORS.md
  README.md
  engine/check.py
  engine/fof_compare.py
  engine/select_members.py
  engine/tolerance.py
  probtest.py
  tests/cli/test_stats_cli.py
  tests/cli/test_tolerance_cli.py
  tests/cli/test_tolerance_cli_split.py
  tests/conftest.py
  tests/data/stats_ref.csv
  tests/engine/test_check.py
  tests/engine/test_select_members.py
  tests/helpers.py
  tests/util/test_dataframe_ops.py
  tests/util/test_fof_utils.py
  tests/util/test_utils.py
  util/click_util.py
  util/dataframe_ops.py
  util/fof_utils.py
  util/utils.py
  visualize/cdo_table_reader.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Prepare release v2.0
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

Prepare release v2.0 (#77)
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

fix jinja
  templates/ICON.jinja
Due: end-of-file-fixer, trailing-whitespace, codespell

report and observations in check
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

improved version of extended check
  engine/fof_compare.py
  tests/util/test_dataframe_ops.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

change tolerance-file-name to tolerance-files
  engine/select_members.py
  templates/ICON.jinja
  templates/testdata.jinja
  tests/engine/test_select_members.py
  tests/helpers.py
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

little improvements
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

change to ensemble files
  engine/select_members.py
  tests/helpers.py
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

last polish
  engine/select_members.py
  templates/testdata.jinja
  tests/engine/test_select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix style
  tests/engine/test_select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Fix helpers
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Fix helpers (#80)
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

refactor validation
  engine/select_members.py
  tests/util/test_utils.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update check-plot
  tests/util/test_utils.py
  util/click_util.py
  visualize/check_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup
  templates/ICON.jinja
  templates/testdata.jinja
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup templates
  templates/ICON.jinja
  templates/testdata.jinja
Due: end-of-file-fixer, trailing-whitespace, codespell

activate mypy
  .pre-commit-config.yaml
  pyproject.toml
  util/utils.py
Due: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix types
  engine/cdo_table.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update pyproject.toml
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

update readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

first version of including veri_data in fof-compare
  engine/fof_compare.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update tests/engine/test_select_members.py
  tests/engine/test_select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Align CLI options with check/tolerance and update Jinja templates (#78)
  README.md
  engine/select_members.py
  templates/ICON.jinja
  templates/testdata.jinja
  tests/engine/test_select_members.py
  tests/helpers.py
  tests/util/test_utils.py
  util/click_util.py
  util/utils.py
  visualize/check_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Prepare release v3.0
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

Prepare release v3.0 (#82)
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

Activate type checking (#81)
  .pre-commit-config.yaml
  engine/cdo_table.py
  pyproject.toml
  util/utils.py
Due: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

adapt utils to ekf
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

adapt probtest to ekf
  engine/fof_compare.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

modify utils
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8
