Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$

update eccodes, needs test fixing
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix environment
  requirements/environment.yml
  requirements/requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

add loadenv
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: check-ast, check-docstring-first, check-toml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

road to somewhere
  poetry.lock
  tests/conftest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add setup_env.py
  pyproject.toml
  setup_env.py
Due: check-ast, check-docstring-first, check-toml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

test ci
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  setup_env.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

ws
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

python version
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

next try
  .github/workflows/pre-commit.yml
  jenkins/mergerequest
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix ws
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

rm stage
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

rvert jenkins
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

update
  .github/workflows/pytest.yml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace, codespell

add autogen pip
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

rm conda requirements
  requirements/environment.yml
  requirements/requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

add requirements.txt
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

change wf
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

update pre-commit
  .github/workflows/pre-commit.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

rm setup_miniconda
  setup_miniconda.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

cleanup
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

update gitignore
  .gitignore
Due: end-of-file-fixer, trailing-whitespace, codespell

fix jenkins
  jenkins/mergerequest
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

fix jenkins
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

cleanup
  .gitignore
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

fix python module
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

fix coverage
  .coveragerc
  .github/workflows/pytest.yml
  setup_env.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix name
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix python version
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

update readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

fix typos
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

first draft
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

formatting
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fixes, first working verison
  engine/select_members.py
  engine/tolerance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm option
  engine/tolerance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup output
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

change seeds
  engine/perturb.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8
