Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$

improvment
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Cleanup README section about formatting (#45)
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Rename stats_cur.csv to stats_exp_name.csv
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Create list including 0
  engine/stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Speed up stats calculation (#41)
  README.md
  engine/init.py
  engine/performance.py
  engine/stats.py
  tests/cli/test_stats_cli.py
  tests/conftest.py
  util/dataframe_ops.py
  visualize/check_plot.py
  visualize/performance_meta_data.py
  visualize/performance_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

uncoment gitlab
  Jenkinsfile
Due: end-of-file-fixer, trailing-whitespace, codespell

try githubnotify
  Jenkinsfile
Due: end-of-file-fixer, trailing-whitespace, codespell

rm gitlab
  Jenkinsfile
Due: end-of-file-fixer, trailing-whitespace, codespell

rm abort
  Jenkinsfile
Due: end-of-file-fixer, trailing-whitespace, codespell

unique name for random tolerances
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Fix member selection (#46)
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Run jobs parallel again
  engine/run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Fix CI
  engine/run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Disable check for subprocess line
  engine/run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Apply pre-commit
  engine/run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Run jobs parallel again (#47)
  engine/run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Added aarch64 architecture for miniconda
  setup_miniconda.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

improve formatting
  .pre-commit-config.yaml
  tests/engine/test_stats.py
  util/model_output_parser.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

frist draft tests
  tests/engine/test_stats.py
  util/model_output_parser.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add unittest
  tests/util/test_model_output_parser.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm deleted files
  requirements/dev-environment.yml
  requirements/dev-requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

update requirements
  requirements/environment.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

update requirements
  requirements/environment.yml
  tests/util/test_model_output_parser.py
  util/model_output_parser.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

use pinned version for ci and make python version consistent
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

pin env and set python version
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

add author
  AUTHORS.md
Due: end-of-file-fixer, trailing-whitespace, codespell

fix gitignore
  .gitignore
Due: end-of-file-fixer, trailing-whitespace, codespell

update gitignore
  .gitignore
Due: end-of-file-fixer, trailing-whitespace, codespell

small improvement
  tests/engine/test_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

change to pytest
  tests/engine/test_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup tmp path
  .gitignore
  tests/engine/test_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix tmp
  tests/engine/test_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup gitignore
  .gitignore
Due: end-of-file-fixer, trailing-whitespace, codespell

fix utest
  tests/engine/test_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix env
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

improve github actions
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix env
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

step by step refactor
  requirements/environment.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

next step
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell
