Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: system

check-docstring-first:
  name: check docstring is first
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: system

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: system

debug-statements:
  name: debug statements (python)
  description: checks for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system

trailing-whitespace:
  name: trim trailing whitespace
  description: trims trailing whitespace.
  entry: trailing-whitespace-fixer
  language: system

forbidden-files-copier-rej:
  name: find copier rejection files
  language: fail
  entry: 'Found copier update rejection file(s): review and remove them'

forbidden-files-git-orig:
  name: find git merge backup files
  language: fail
  entry: 'Found git merge backup file(s): review and remove them'

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell
  args:
  - -L astroid,fof

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8
  args:
  - --max-line-length=88
  - --ignore=E203,W503,F811,I002

Update engine/select_members.py
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update util/click_util.py
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

improve doc
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

change test to check
  engine/check.py
  engine/run_ensemble.py
  engine/select_members.py
  tests/engine/test_select_members.py
  tests/helpers.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

introduce enable_check_only
  engine/select_members.py
  templates/ICON.jinja
  templates/testdata.jinja
  tests/engine/test_select_members.py
  tests/helpers.py
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

change default
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix
  engine/select_members.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

more refactor
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update doc
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix tests
  tests/engine/test_select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

improve logging
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm random
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix rernaming
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix formula
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

polish log text
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

new seeds
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update env
  requirements/environment.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix "
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update references
  engine/select_members.py
  tests/data/cdo_table.csv
  tests/data/stats_dp_1.csv
  tests/data/stats_dp_10.csv
  tests/data/stats_dp_2.csv
  tests/data/stats_dp_3.csv
  tests/data/stats_dp_4.csv
  tests/data/stats_dp_5.csv
  tests/data/stats_dp_6.csv
  tests/data/stats_dp_7.csv
  tests/data/stats_dp_8.csv
  tests/data/stats_dp_9.csv
  tests/data/tolerance.csv
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix test
  tests/engine/test_select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Revise member selection (#54)
  README.md
  engine/cdo_table.py
  engine/check.py
  engine/init.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/select_members.py
  engine/stats.py
  engine/tolerance.py
  scripts/collect_icon_testdata.sh
  scripts/generate_icon_testdata.sh
  templates/ICON.jinja
  templates/testdata.jinja
  tests/cli/test_perturb_cli.py
  tests/conftest.py
  tests/data/cdo_table.csv
  tests/data/stats_dp_1.csv
  tests/data/stats_dp_10.csv
  tests/data/stats_dp_2.csv
  tests/data/stats_dp_3.csv
  tests/data/stats_dp_4.csv
  tests/data/stats_dp_5.csv
  tests/data/stats_dp_6.csv
  tests/data/stats_dp_7.csv
  tests/data/stats_dp_8.csv
  tests/data/stats_dp_9.csv
  tests/data/tolerance.csv
  tests/engine/test_select_members.py
  tests/helpers.py
  tests/util/test_utils.py
  util/click_util.py
  util/dataframe_ops.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update versions
  requirements/environment.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Update pinned conda environment (#59)
  .coveragerc
  requirements/environment.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

prepend_type_to_member_id
  engine/cdo_table.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/stats.py
  tests/util/test_utils.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

remove is_float
  engine/run_ensemble.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Trigger container build manually
  .github/workflows/build-container.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Test workflow
  .github/workflows/build-container.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

create_perturb_files
  README.md
  engine/perturb.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Manual trigger for container
  .github/workflows/build-container.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Add container build to README
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

stats
  engine/stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

compute_division_df
  engine/check.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add note
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Add note about prebuilt docker images
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Fix link in README
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Fix end of file
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Automatically build when pushing into main
  .github/workflows/build-container.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Trigger container build manually (#60)
  .github/workflows/build-container.yml
  README.md
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Fix container instructions
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$
