Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$

cleanup
  tests/util/test_dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

refactor dublicate
  tests/engine/test_perturb.py
  tests/helpers.py
  tests/util/icon/test_timing_tree.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add test
  tests/test_helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup test
  tests/test_helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add sonar-project.properties
  sonar-project.properties
Due: end-of-file-fixer, trailing-whitespace, codespell

add README.rst
  README.rst
Due: end-of-file-fixer, trailing-whitespace, rstcheck, codespell

change folder structure
  probtest/engine/cdo_table.py
  probtest/engine/check.py
  probtest/engine/init.py
  probtest/engine/performance.py
  probtest/engine/performance_check.py
  probtest/engine/perturb.py
  probtest/engine/run_ensemble.py
  probtest/engine/select_members.py
  probtest/engine/stats.py
  probtest/engine/tolerance.py
  probtest/probtest.py
  probtest/util/__init__.py
  probtest/util/click_util.py
  probtest/util/constants.py
  probtest/util/dataframe_ops.py
  probtest/util/file_system.py
  probtest/util/icon/extract_timings.py
  probtest/util/log_handler.py
  probtest/util/model_output_parser.py
  probtest/util/netcdf_io.py
  probtest/util/tree.py
  probtest/util/utils.py
  probtest/util/xarray_ops.py
  probtest/visualize/__init__.py
  probtest/visualize/cdo_table_reader.py
  probtest/visualize/check_plot.py
  probtest/visualize/performance_meta_data.py
  probtest/visualize/performance_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add pyproject.toml
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

add jenkinsfile
  Jenkinsfile
Due: end-of-file-fixer, trailing-whitespace, codespell

add python version
  .python-version
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

add dockerfile
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

add history
  HISTORY.rst
Due: end-of-file-fixer, trailing-whitespace, rstcheck, codespell

add mch-ci
  .mch-ci.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

merge gitignore
  .gitignore
Due: end-of-file-fixer, trailing-whitespace, codespell

add k8s
  k8s/base/cronjob.yaml
  k8s/base/kustomization.yaml
  k8s/overlays/depl/kustomization.yaml
  k8s/overlays/devt/kustomization.yaml
  k8s/overlays/prod/kustomization.yaml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

unitest and change in grib_definition_path
  setup_env.sh
  templates/ICON.jinja
  tests/engine/test_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

old def_path for safety
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

comment out type checker
  .mch-ci.yml
  probtest/__init__.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix errors from jenkinspipeline
  jenkins/mergerequest
  probtest/util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix same mistake other place
  probtest/util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix f-string
  probtest/engine/performance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix f-string
  probtest/visualize/check_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix f-string
  probtest/visualize/performance_meta_data.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix f-string
  probtest/visualize/performance_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

deactivate mypy even more
  .mch-ci.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

disable lint
  .mch-ci.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

disable liniting
  probtest/engine/performance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Revert "disable liniting"
  probtest/engine/performance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Reapply "disable liniting"
  probtest/engine/performance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add empty lint
  .mch-ci.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

next try
  .mch-ci.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

rm print
  tests/util/icon/test_timing_tree.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

mv fixture
  tests/conftest.py
  tests/util/test_dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

change to pyttest
  tests/util/icon/test_timing_tree.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup fixtures
  tests/conftest.py
  tests/util/icon/test_timing_tree.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

change to pytest
  tests/engine/test_perturb.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm logger test
  tests/util/test_dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

dummy change
  setup_env.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

cleanup timing tree test
  tests/util/icon/test_timing_tree.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8
