Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: system

check-docstring-first:
  name: check docstring is first
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: system

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: system

debug-statements:
  name: debug statements (python)
  description: checks for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system

trailing-whitespace:
  name: trim trailing whitespace
  description: trims trailing whitespace.
  entry: trailing-whitespace-fixer
  language: system

forbidden-files-copier-rej:
  name: find copier rejection files
  language: fail
  entry: 'Found copier update rejection file(s): review and remove them'

forbidden-files-git-orig:
  name: find git merge backup files
  language: fail
  entry: 'Found git merge backup file(s): review and remove them'

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell
  args:
  - -L astroid,fof

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8
  args:
  - --max-line-length=88
  - --ignore=E203,W503,F811,I002

fix style
  scripts/poetry_lock.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

update dockerfile
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

improve readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

update
  Dockerfile
  poetry.lock
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace, codespell

split requ
  Dockerfile
  poetry.lock
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
  scripts/poetry_lock.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

wip docker
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

set base image
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

make diff smaller
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

rm ws
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix cov
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

rm cov artefact
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

retrieve previous
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

make lock for 3.10
  poetry.lock
  requirements_dev.txt
  requirements_test.txt
Due: end-of-file-fixer, trailing-whitespace, codespell

minor fix
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

small polish
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Annika comments
  engine/tolerance.py
  tests/cli/test_tolerance_cli.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update util/click_util.py
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Introduce minimum tolerance value (#71)
  engine/tolerance.py
  tests/cli/test_tolerance_cli.py
  tests/data/tolerance.csv
  tests/helpers.py
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update engine/tolerance.py
  engine/tolerance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update util/dataframe_ops.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update util/fof_utils.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update engine/check.py
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix formating
  engine/tolerance.py
  tests/cli/test_tolerance_cli.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix linelength
  tests/cli/test_tolerance_cli.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix style and ll
  engine/tolerance.py
  tests/cli/test_tolerance_cli.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm dublication
  engine/tolerance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

integrated reviews
  engine/check.py
  engine/select_members.py
  util/click_util.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update README.md
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

improved readability of fof_utils.expand_zip
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

fix link
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

fix typo
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

update gitignore
  .gitignore
Due: end-of-file-fixer, trailing-whitespace, codespell

allow only 3.10
  .gitignore
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

update jenkins
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

fix python versin
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

revert python constraint
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$
