Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$

improved some functionalities
  engine/check_fof.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

first draft
  README.md
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

update pytest actions
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

improvements
  .coveragerc
  README.md
  poetry.lock
  requirements.txt
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
  setup_miniconda.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

update
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

update
  .github/workflows/pre-commit.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

implemented verison of check fof files
  engine/check_fof.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add option to print entire line in case of differences
  engine/check_fof.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add function that check if fof files are same type and don't check variables that we know might change
  engine/check_fof.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add minimum tolerance
  engine/tolerance.py
  tests/data/tolerance.csv
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix deprecated function
  engine/tolerance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

subtle but necessary fix
  engine/tolerance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add option to select number of lines to print and to save csv file with diff
  engine/check_fof.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

make minimum tol 0 default
  engine/tolerance.py
  tests/cli/test_tolerance_cli.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

make sure last version is pushed
  engine/check_fof.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

addition of the adapted version to the fof files for tolerance and check calculation
  engine/check_fof.py
  engine/check_tol_fof.py
  engine/tolerance_fof.py
  probtest.py
  tests/engine/test_check_fof.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

addition of the total number of entries per row
  engine/check_fof.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

addition and modification of certain funcions to adapt it to fof
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Modification of split_feedback_dataset to make it more general
  engine/check_fof.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

adaptation of tolerance.py to fof flow
  engine/tolerance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Modify the check.py module to make it compatible with fof files
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add some description in the cli.help function
  engine/tolerance.py
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

remove wrong tolerance/check modules
  engine/check_tol_fof.py
  engine/tolerance_fof.py
  probtest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

remove test for check_fof module since is out of date
  tests/engine/test_check_fof.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

pytest errors solved
  engine/tolerance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

suggestions integrated - new structure for tolerance.py and check.py
  engine/check.py
  engine/check_fof.py
  engine/tolerance.py
  probtest.py
  util/click_util.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add util/fof_utils.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Correction of a typo in click module
  engine/init.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/stats.py
  engine/tolerance.py
  util/click_util.py
  visualize/cdo_table_reader.py
  visualize/performance_meta_data.py
  visualize/performance_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update engine/check.py
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

integrated suggestions in check.py and tolerance.py
  engine/check.py
  engine/tolerance.py
  util/click_util.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Correction of a typo in click module (#72)
  engine/init.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/stats.py
  engine/tolerance.py
  util/click_util.py
  visualize/cdo_table_reader.py
  visualize/performance_meta_data.py
  visualize/performance_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

integration sussestions meeting
  engine/check.py
  engine/select_members.py
  engine/tolerance.py
  tests/util/test_dataframe_ops.py
  util/dataframe_ops.py
  util/fof_utils.py
  visualize/cdo_table_reader.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fist part of test_fof_utils.py
  tests/engine/test_fof_utils.py
  tests/util/test_fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

delete double file
  tests/engine/test_fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add ws
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

adjust github actions pre-comit
  .github/workflows/pre-commit.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix pre-commit
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

add export
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

add script
  scripts/poetry_lock.sh
Due: end-of-file-fixer, trailing-whitespace, codespell
