Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$

upload fof_compare.py
  engine/fof_compare.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

2 versions for check_multiple_variables
  tests/util/test_fof_utils.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

test_tolerance splitted
  tests/cli/test_tolerance_cli_split.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

typo corrected
  tests/engine/test_check.py
  tests/engine/test_check2.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

-
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

first version check with dict
  engine/check.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

try
  probtest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Revert "try"
  probtest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

stats to csv in fof_utils
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

expand get_file_type function
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

pylint solved
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

solved failing tests
  engine/select_members.py
  tests/engine/test_check.py
  tests/engine/test_check2.py
  tests/util/test_fof_utils.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

get_file_name to dataclass
  engine/tolerance.py
  tests/util/test_fof_utils.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

improve doc
  scripts/release.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

adapt expand_zip to ICON
  tests/cli/test_tolerance_cli.py
  tests/cli/test_tolerance_cli_split.py
  tests/util/test_fof_utils.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

suggestions integrated
  engine/check.py
  engine/select_members.py
  engine/tolerance.py
  probtest.py
  tests/engine/test_select_members.py
  tests/util/test_fof_utils.py
  util/dataframe_ops.py
  util/fof_utils.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

improve expand_zip
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

-
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Revert last two commits
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

adapt tolerance
  engine/tolerance.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

adapt expand_zip for ICON
  engine/tolerance.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

expand_zip split
  engine/check.py
  engine/tolerance.py
  tests/cli/test_tolerance_cli.py
  tests/conftest.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update README.md
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

add Note
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

update
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

clean style
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

solved error in expand_zip
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix version
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

Prepare release v1.5
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

update readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

udate
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

fix formatting
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

reviews integrated
  engine/select_members.py
  probtest.py
  tests/engine/test_check.py
  tests/engine/test_check2.py
  tests/engine/test_select_members.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix better order of Readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Add script to make releases (#73)
  README.md
  pyproject.toml
  scripts/collect_icon_testdata.sh
  scripts/generate_icon_testdata.sh
  scripts/release.sh
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

solved problem 2 similar lines
  tests/cli/test_tolerance_cli.py
  tests/util/test_utils.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8
