Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: system

check-docstring-first:
  name: check docstring is first
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: system

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: system

debug-statements:
  name: debug statements (python)
  description: checks for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system

trailing-whitespace:
  name: trim trailing whitespace
  description: trims trailing whitespace.
  entry: trailing-whitespace-fixer
  language: system

forbidden-files-copier-rej:
  name: find copier rejection files
  language: fail
  entry: 'Found copier update rejection file(s): review and remove them'

forbidden-files-git-orig:
  name: find git merge backup files
  language: fail
  entry: 'Found git merge backup file(s): review and remove them'

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell
  args:
  - -L astroid,fof

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8
  args:
  - --max-line-length=88
  - --ignore=E203,W503,F811,I002

cleanup fixtures
  tests/conftest.py
  tests/engine/test_perturb.py
  tests/helpers.py
  tests/test_helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add tmp_dir
  tests/engine/test_perturb.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix test
  tests/engine/test_perturb.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

remove duplicate code (#38)
  .pre-commit-config.yaml
  engine/perturb.py
  engine/run_ensemble.py
  tests/conftest.py
  tests/engine/test_perturb.py
  tests/util/icon/test_timing_tree.py
  tests/util/test_dataframe_ops.py
  tests/util/test_utils.py
  util/dataframe_ops.py
  util/tree.py
  util/utils.py
  visualize/check_plot.py
  visualize/performance_meta_data.py
  visualize/performance_plot.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm from readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

rm wrappers
  wrapper/generate_icon_reference_lam.sh
  wrapper/generate_icon_reference_lam_nest.sh
  wrapper/icon_config_flag_extractor.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm feature
  scripts/collect_icon_testdata.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

rm g110
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

rm dublication
  tests/util/test_visualize_util.py
  util/visualize_util.py
  visualize/check_plot.py
  visualize/performance_meta_data.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

make readme nice
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

rm setting
  .vscode/settings.json
Due: end-of-file-fixer, trailing-whitespace, codespell

Rm g110 dependencies (#40)
  .vscode/settings.json
  README.md
  jenkins/mergerequest
  scripts/collect_icon_testdata.sh
  tests/util/test_visualize_util.py
  util/visualize_util.py
  visualize/check_plot.py
  visualize/performance_meta_data.py
  wrapper/generate_icon_reference_lam.sh
  wrapper/generate_icon_reference_lam_nest.sh
  wrapper/icon_config_flag_extractor.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Fix syntax errors
  engine/performance.py
  util/dataframe_ops.py
  visualize/check_plot.py
  visualize/performance_meta_data.py
  visualize/performance_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Use pre-commit
  engine/performance.py
  visualize/check_plot.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Parallize calculation of stats files
  engine/stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add calc of stats_ref to parallel loop and bugfix for no-ensemble
  engine/stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add default name for stats_file
  engine/stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Fix syntax errors
  engine/performance.py
  util/dataframe_ops.py
  visualize/check_plot.py
  visualize/performance_meta_data.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Remove unknown flag
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Fix naming of stats files
  engine/stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Fix test
  tests/cli/test_stats_cli.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add factor as potential input to init
  engine/init.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add console and typo fix
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

merge documenation
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

polish
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

fix typo
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

update readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

add suggestion
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

ws
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Cleanup readme (#44)
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Set floating point for creating netCDF file
  tests/conftest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Apply pre-commit
  tests/conftest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add 0 instead of "ref" for the reference file
  engine/stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

rm outdated mention of vscode
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

update
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

clean up
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

add word
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

improve wording
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$
