Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$

improve logging
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix logging
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

wip
  engine/select_members.py
  engine/tolerance.py
  tests/engine/test_select_members.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix utests
  tests/engine/test_select_members.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

wip cleanup
  engine/cdo_table.py
  engine/init.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/stats.py
  tests/util/test_utils.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

change seeds
  engine/perturb.py
  engine/run_ensemble.py
  tests/data/ref_cdo_table.csv
  tests/data/ref_tolerance.csv
  tests/data/stats_dp_1.csv
  tests/data/stats_dp_10.csv
  tests/data/stats_dp_2.csv
  tests/data/stats_dp_3.csv
  tests/data/stats_dp_4.csv
  tests/data/stats_dp_5.csv
  tests/data/stats_dp_6.csv
  tests/data/stats_dp_7.csv
  tests/data/stats_dp_8.csv
  tests/data/stats_dp_9.csv
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

simplify ref files
  tests/conftest.py
  tests/data/cdo_table.csv
  tests/data/tolerance.csv
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add unit test
  tests/util/test_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Change seeds to positive 32 bit integers (#55)
  engine/perturb.py
  engine/run_ensemble.py
  tests/conftest.py
  tests/data/cdo_table.csv
  tests/data/ref_tolerance.csv
  tests/data/stats_dp_1.csv
  tests/data/stats_dp_10.csv
  tests/data/stats_dp_2.csv
  tests/data/stats_dp_3.csv
  tests/data/stats_dp_4.csv
  tests/data/stats_dp_5.csv
  tests/data/stats_dp_6.csv
  tests/data/stats_dp_7.csv
  tests/data/stats_dp_8.csv
  tests/data/stats_dp_9.csv
  tests/data/tolerance.csv
  tests/util/test_utils.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix tests
  engine/select_members.py
  tests/cli/test_perturb_cli.py
  tests/engine/test_select_members.py
  tests/helpers.py
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add option
  engine/performance_stats.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add Dockerfile
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

finalize Dockerfile and workflows
  .github/workflows/build-container.yml
  .github/workflows/deploy-container-for-release.yml
  Dockerfile
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix style
  .github/workflows/deploy-container-for-release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

upload to dockerhub
  .github/workflows/build-container.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

build for arm64,amd64
  .github/workflows/build-container.yml
  Dockerfile
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

next try
  .github/workflows/build-container.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

use oci exporter
  .github/workflows/build-container.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

use install script for miniconda
  Dockerfile
  setup_miniconda.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

fixes for entrypoint
  .github/workflows/build-container.yml
  .github/workflows/deploy-container-for-release.yml
  .github/workflows/pytest.yml
  Dockerfile
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix format
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

use debian:bookworm-slim
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

Undo last change
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

Update build-container.yml
  .github/workflows/build-container.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Infrastructure for Container (#56)
  .github/workflows/build-container.yml
  .github/workflows/deploy-container-for-release.yml
  .github/workflows/pytest.yml
  Dockerfile
  setup_miniconda.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Update deploy-container-for-release.yml
  .github/workflows/deploy-container-for-release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Do not attach image as release-asset (#58)
  .github/workflows/deploy-container-for-release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

introduce better names
  engine/cdo_table.py
  engine/init.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/select_members.py
  engine/stats.py
  engine/tolerance.py
  scripts/collect_icon_testdata.sh
  scripts/generate_icon_testdata.sh
  tests/cli/test_perturb_cli.py
  tests/engine/test_select_members.py
  tests/helpers.py
  tests/util/test_utils.py
  util/click_util.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update style
  tests/cli/test_perturb_cli.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

more renames
  README.md
  engine/perturb.py
  engine/run_ensemble.py
  tests/util/test_utils.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

polish interface
  engine/run_ensemble.py
  engine/select_members.py
  templates/ICON.jinja
  templates/testdata.jinja
  tests/engine/test_select_members.py
  tests/helpers.py
  tests/util/test_utils.py
  util/click_util.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update doc string
  engine/select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

pin hashes
  requirements/environment.yml
  setup_env.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

update env, fix ws
  .coveragerc
  requirements/environment.yml
  setup_env.sh
  util/utils.py
Due: check-ast, check-docstring-first, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update
  requirements/environment.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

remove m_num
  engine/cdo_table.py
  engine/perturb.py
  engine/run_ensemble.py
  engine/stats.py
  engine/tolerance.py
  tests/data/cdo_table.csv
  tests/util/test_utils.py
  util/utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

improve tests
  tests/conftest.py
  tests/engine/test_select_members.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

improve test
  tests/conftest.py
  tests/engine/test_select_members.py
  tests/helpers.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8
