Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$

Prepare release v3.5
  poetry.lock
  pyproject.toml
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

Prepare release v3.5 (#109)
  poetry.lock
  pyproject.toml
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

If a nan is compared with a non-nan, error is inf
  tests/engine/test_check.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Update tests/engine/test_check.py
  tests/engine/test_check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Add more tests
  AUTHORS.md
  tests/engine/test_check.py
  tests/util/test_dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Apply suggestions from code review
  AUTHORS.md
Due: end-of-file-fixer, trailing-whitespace, codespell

Add improved comparing when dealing with NAN values (#111)
  AUTHORS.md
  tests/engine/test_check.py
  tests/util/test_dataframe_ops.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Apply review feedback
  engine/fof_compare.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Make fof compare work with radar fof files
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

More realistic mock radar fof file for tests
  tests/conftest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Make fof comparison work for radar fof files
  engine/fof_compare.py
  tests/conftest.py
  tests/engine/test_fof_compare.py
  tests/util/test_fof_utils.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Remove nan-non-nan check from fof file PR
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

pre commit changes
  tests/conftest.py
  tests/engine/test_fof_compare.py
  tests/util/test_fof_utils.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Compute and output normalized error above tolerance
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

first draft
  tests/data/timing_example_1.txt
  tests/util/icon/test_extract_timings.py
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

cleanup
  tests/data/add_1_data.json
  tests/data/add_1_tree.json
  tests/data/add_meta.json
  tests/data/reference_1_data.json
  tests/data/reference_1_tree.json
  tests/data/reference_meta.json
  tests/data/timing_example_interleaved.txt
  tests/util/icon/test_extract_timings.py
  tests/util/icon/test_timing_tree.py
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add type annotations
  tests/util/icon/test_extract_timings.py
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update comentns
  tests/util/icon/test_extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add github actions to automatically tag new version
  .github/workflows/deploy-container-for-release.yml
  .github/workflows/tag-release.yml
  README.md
  scripts/release.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

clarify readme
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

rm hardcoded length
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

add new test cases
  tests/data/timing_example_interleaved.txt
  tests/util/icon/test_extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Fix interleaving timetable parse (#113)
  tests/data/add_1_data.json
  tests/data/add_1_tree.json
  tests/data/add_meta.json
  tests/data/reference_1_data.json
  tests/data/reference_1_tree.json
  tests/data/reference_meta.json
  tests/data/timing_example_1.txt
  tests/data/timing_example_interleaved.txt
  tests/util/icon/test_extract_timings.py
  tests/util/icon/test_timing_tree.py
  util/icon/extract_timings.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Automatically tag and release new versions on merge to main (#114)
  .github/workflows/deploy-container-for-release.yml
  .github/workflows/tag-release.yml
  README.md
  scripts/release.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Add formula to normalized error title
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Apply suggestion from @stelliom
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Apply suggestion from @huppd with small modification
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Make pylint happy
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

pre-commit
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Compute and output normalized error above tolerance (#112)
  engine/check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Prepare release v3.6
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

fix conftest
  tests/conftest.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Prepare release v3.6 (#115)
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
  tests/conftest.py
Due: check-ast, check-docstring-first, check-toml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix missing user and email name
  .github/workflows/tag-release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Fix missing user and email name for automatic tag creation (#116)
  .github/workflows/tag-release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Add GRIB support for model output via earthkit-data
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  requirements.txt
  templates/ICON.jinja
  tests/engine/test_stats.py
  tests/util/test_model_output_parser.py
  util/model_output_parser.py
Due: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

fix for real mch data
  util/model_output_parser.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Fail case where variables are different
  tests/util/test_dataframe_ops.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Fix pre-commit
  tests/util/test_dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Change variable skip_test to boolean
  tests/util/test_dataframe_ops.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8
