Repository MeteoSwiss/probtest: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, forbidden-files-copier-rej, forbidden-files-git-orig, rstcheck, codespell, pydocstyle, flake8

check-ast:
  name: check python ast
  description: simply checks whether the files parse as valid python.
  entry: check-ast
  language: system

check-docstring-first:
  name: check docstring is first
  description: checks a common error of defining a docstring after code.
  entry: check-docstring-first
  language: system

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: system

debug-statements:
  name: debug statements (python)
  description: checks for debugger imports and py37+ `breakpoint()` calls in python source.
  entry: debug-statement-hook
  language: system

end-of-file-fixer:
  name: fix end of files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system

trailing-whitespace:
  name: trim trailing whitespace
  description: trims trailing whitespace.
  entry: trailing-whitespace-fixer
  language: system

forbidden-files-copier-rej:
  name: find copier rejection files
  language: fail
  entry: 'Found copier update rejection file(s): review and remove them'

forbidden-files-git-orig:
  name: find git merge backup files
  language: fail
  entry: 'Found git merge backup file(s): review and remove them'

rstcheck:
  name: rstcheck
  description: Check REST files for correctness
  language: system
  entry: rstcheck

codespell:
  name: codespell
  description: Check for spelling errors
  language: system
  entry: codespell
  args:
  - -L astroid,fof

pydocstyle:
  name: pydocstyle
  description: Check docstrings in Python code for compliance with conventions
  language: system
  entry: pydocstyle

flake8:
  name: flake8
  description: Check Python code for correctness, consistency and adherence to best practices
  language: system
  entry: flake8
  args:
  - --max-line-length=88
  - --ignore=E203,W503,F811,I002

improve
  jenkins/mergerequest
  poetry.lock
  requirements.txt
  requirements_dev.txt
Due: end-of-file-fixer, trailing-whitespace, codespell

stick with 3.10
  jenkins/mergerequest
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

slim down install
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

fix style
  jenkins/mergerequest
Due: end-of-file-fixer, trailing-whitespace, codespell

fix pre-commit
  .github/workflows/pre-commit.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

homogeniz docker actions
  .github/workflows/deploy-container-for-release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Update README.md
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

add release script
  scripts/collect_icon_testdata.sh
  scripts/generate_icon_testdata.sh
  scripts/script/release.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

fix path
  scripts/release.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

add documentation
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

make x
  scripts/release.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

make Dockerfile work for ARCH
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

fix typo
  scripts/release.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

Build container for different architectures
  .github/workflows/build-container.yml
  .github/workflows/deploy-container-for-release.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

try to fix Dockerfile
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

Use full python image
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

try with ubuntu
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

last try
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

increase coverage to 100% of test_fof_utils.py
  probtest.py
  tests/util/test_fof_utils.py
  util/click_util.py
  util/dataframe_ops.py
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Use old Dockerfile for testing
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace, codespell

readd setup files for testing
  setup_env.sh
  setup_miniconda.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

Add missing environment files for testing
  requirements/environment.yml
  requirements/requirements.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

loosen python req
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

Revert changes concerning container
  Dockerfile
  requirements/environment.yml
  requirements/requirements.yml
  setup_env.sh
  setup_miniconda.sh
Due: check-yaml, end-of-file-fixer, trailing-whitespace, codespell

Add dual setup workflow using Poetry and pip with generated requirements files (#70)
  .coveragerc
  .github/workflows/build-container.yml
  .github/workflows/deploy-container-for-release.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .gitignore
  Dockerfile
  README.md
  engine/tolerance.py
  jenkins/mergerequest
  poetry.lock
  pyproject.toml
  requirements.txt
  requirements/environment.yml
  requirements/requirements.yml
  requirements_dev.txt
  requirements_test.txt
  scripts/poetry_lock.sh
  setup_env.sh
  setup_miniconda.sh
  tests/cli/test_tolerance_cli.py
  tests/helpers.py
Due: check-ast, check-docstring-first, check-toml, check-yaml, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

revert lock
  poetry.lock
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
Due: end-of-file-fixer, trailing-whitespace, codespell

cleanup
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

fix typo
  README.md
Due: end-of-file-fixer, trailing-whitespace, codespell

homognize versioning
  scripts/release.sh
Due: end-of-file-fixer, trailing-whitespace, codespell

fix package
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

Revert "fix package"
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace, codespell

working in progress
  engine/select_members.py
  engine/tolerance.py
  tests/cli/test_stats_cli.py
  tests/cli/test_tolerance_cli.py
  tests/conftest.py
  tests/data/stats_ref.csv
  tests/data/tolerance.csv
  tests/engine/test_check.py
  tests/engine/test_select_members.py
  tests/helpers.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

new version tests/engine/test_check.py
  tests/conftest.py
  tests/engine/test_check.py
  tests/util/test_fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

new test_tolerance_cli.py
  engine/check.py
  engine/tolerance.py
  tests/cli/test_stats_cli.py
  tests/cli/test_tolerance_cli.py
  tests/conftest.py
  tests/engine/test_select_members.py
  tests/helpers.py
  util/dataframe_ops.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

second version of test_check.py
  tests/engine/test_check2.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

update changes
  engine/check.py
  tests/cli/test_tolerance_cli.py
  tests/engine/test_check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

restore test_check.py
  tests/engine/test_check.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

1 pylint problem solved
  util/fof_utils.py
Due: check-ast, check-docstring-first, debug-statements, end-of-file-fixer, trailing-whitespace, codespell, flake8

Path conditions:
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  end-of-file-fixer: any file but: tests/data/
  trailing-whitespace: any file but: tests/data/
  forbidden-files-copier-rej: any of: \.rej$
  forbidden-files-git-orig: any of: \.orig$
  rstcheck: any of: \.rst$
  codespell: any file but: tests/data/
  pydocstyle: any of: ^src/ and \.py$
  flake8: any of: \.py$
